In [1]:
import scrapper_crtm as crtm
import csv
import pandas as pd
import string
import unidecode

In [2]:
stations_web = crtm.get_all_stations()

Accessing: http://www.crtm.es/tu-transporte-publico.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/metro/lineas.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/metro/lineas/4__1___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/metro/lineas/4__2___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/metro/lineas/4__3___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/metro/lineas/4__4___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/metro/lineas/4__5___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/metro/lineas/4__6___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/metro/lineas/4__7___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/metro/lineas/4__8___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/metro/lineas/4__9___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/metro/lineas/4__10___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/metro/lineas/4__11___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/metro/lineas/4__12___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/metro/lineas/4__r___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/metro-ligero/lineas.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/metro-ligero/lineas/10__51___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/metro-ligero/lineas/10__2___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/metro-ligero/lineas/10__3___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/metro-ligero/lineas/10__4___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/cercanias-renfe/lineas.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/cercanias-renfe/lineas/5__1___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/cercanias-renfe/lineas/5__2___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/cercanias-renfe/lineas/5__3___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/cercanias-renfe/lineas/5__3_a__.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/cercanias-renfe/lineas/5__4_a__.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/cercanias-renfe/lineas/5__4_b__.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/cercanias-renfe/lineas/5__5___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/cercanias-renfe/lineas/5__7___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/cercanias-renfe/lineas/5__8___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/cercanias-renfe/lineas/5__9___.aspx
Accessing: http://www.crtm.es/tu-transporte-publico/cercanias-renfe/lineas/5__10___.aspx

Número de estaciones según web

In [43]:
def dict_set_stations():
    dict_stations = {}
    for t in crtm.TRANSPORT_TYPES:
        set_stations = set()
        for line, stations in stations_web[t].items():
            for s in stations:
                set_stations.add(s)
        dict_stations[t] = list(set_stations)
    return dict_stations

In [44]:
dict_stations = dict_set_stations()

In [54]:
dict_stations

{'metro': ['Puente de Vallecas',
  'Alto del Arenal',
  'Delicias',
  'Begoña',
  'Antón Martín',
  'Duque de Pastrana',
  'Jarama',
  'Torre Arias',
  'Batán',
  'Argüelles',
  'Estrella',
  'Nueva Numancia',
  'Reyes Católicos',
  'Marqués de Vadillo',
  'Getafe Central',
  'Juan de la Cierva',
  "O'Donnell",
  'San Fernando',
  'Alonso de Mendoza',
  'Sierra de Guadalupe',
  'Urgel',
  'Pinar del Rey',
  'Parque de Santa María',
  'La Elipa',
  'Chueca',
  'Cuatro Vientos',
  'Las Tablas',
  'Estrecho',
  'Hortaleza',
  'Sol',
  'Valdeacederas',
  'Fuencarral',
  'El Casar',
  'Mar de Cristal',
  'La Fortuna',
  'Almendrales',
  'El Carmen',
  'Núñez de Balboa',
  'Eugenia de Montijo',
  'Arturo Soria',
  'Sevilla',
  'Parque Oeste',
  'Oporto',
  'Hospital de Fuenlabrada',
  'Callao',
  'Leganés Central',
  'Bambú',
  'Casa de Campo',
  'Abrantes',
  'Alcorcón Central',
  'Pacífico',
  'Buenos Aires',
  'Avenida de Guadalajara',
  'Lavapiés',
  'Conservatorio',
  'Diego de León',
  'Pitis',
  'Lago',
  'Los Espartales',
  'Campamento',
  'El Carrascal',
  'Aluche',
  'Feria de Madrid',
  'Miguel Hernández',
  'Alonso Cano',
  'Villaverde Bajo - Cruce',
  'Tribunal',
  'Hospital Infanta Sofía',
  'Avenida de la Ilustración',
  'Príncipe Pío',
  'Iglesia',
  'Rubén Darío',
  'Valdebernardo',
  'Fuenlabrada Central',
  'San Cipriano',
  'Carabanchel Alto',
  'Barrio del Puerto',
  'Cartagena',
  'Alvarado',
  'Puerta del Ángel',
  'Parque Lisboa',
  'San Francisco',
  'Canillejas',
  'Sainz de Baranda',
  'Príncipe de Vergara',
  'Tres Olivos',
  'Noviciado',
  'Alameda de Osuna',
  'Vicente Aleixandre',
  'Loranca',
  'Las Suertes',
  'Villaverde Alto',
  'San Fermín - Orcasur',
  'Pío XII',
  'Arroyo Culebro',
  'Alto de Extremadura',
  'Plaza de España',
  'Aviación Española',
  'Vicálvaro',
  'Banco de España',
  'Joaquín Vilumbrales',
  'Serrano',
  'Laguna',
  'Tetuán',
  'Concha Espina',
  'Las Musas',
  'Parque de los Estados',
  'Palos de la Frontera',
  'La Moraleja',
  'Julian Besteiro',
  'Vista Alegre',
  'Gregorio Marañón',
  'Francos Rodríguez',
  'Canillas',
  'Hospital del Henares',
  'Lucero',
  'Manuel de Falla',
  'Alfonso XIII',
  'Cuatro Caminos',
  'República Argentina',
  'Valdecarros',
  'Manoteras',
  'Colonia Jardín',
  'San Nicasio',
  'Puerta de Toledo',
  'Baunatal',
  'Coslada Central',
  'Rivas Vaciamadrid',
  'Plaza de Castilla',
  'Usera',
  'Santiago Bernabéu',
  'Puerta del Sur',
  'Alonso Martínez',
  'Hospital Severo Ochoa',
  'La Almudena',
  'La Poveda',
  'Villa de Vallecas',
  'Colón',
  'Atocha Renfe',
  'Ríos Rosas',
  'Chamartín',
  'Guzmán el Bueno',
  'Colombia',
  'Rivas Futura',
  'Pavones',
  'Barrio de la Concepción',
  'Ibiza',
  'Aeropuerto T4',
  'Canal',
  'Avenida de América',
  'Henares',
  'Aeropuerto T1-T2-T3',
  'Moncloa',
  'Santo Domingo',
  'Vinateros',
  'Prosperidad',
  'Paco de Lucía',
  'Nuevos Ministerios',
  'La Rambla',
  'Conde de Casal',
  'Estadio Metropolitano',
  'Cuzco',
  'Islas Filipinas',
  'Pradillo',
  'Portazgo',
  'Ciudad de los Ángeles',
  'Universidad Rey Juan Carlos',
  'Artilleros',
  'Ciudad Lineal',
  'Rivas Urbanizaciones',
  'Ventilla',
  'Ópera',
  'Herrera Oria',
  'Ventura Rodríguez',
  'Estación del Arte',
  'Esperanza',
  'Acacias',
  'García Noblejas',
  'Arganzuela - Planetario',
  'Parque Europa',
  'Ventas',
  'El Capricho',
  'La Latina',
  'La Granja',
  'Pinar de Chamartín',
  'La Peseta',
  'El Bercial',
  'Goya',
  'San Bernardo',
  'Arganda del Rey',
  'Montecarmelo',
  'Las Rosas',
  'Mirasierra',
  'Retiro',
  'Quevedo',
  'Alsacia',
  'Opañel',
  'Menéndez Pelayo',
  'Rda. de la Comunicación',
  'Quintana',
  'Carpetana',
  'Valdezarza',
  'Méndez Álvaro',
  'Ascao',
  'Carabanchel',
  'Barrio del Pilar',
  'Marqués de la Valdavia',
  'Hospital 12 de Octubre',
  'Barajas',
  'Cruz del Rayo',
  'Hospital de Móstoles',
  'Sáinz de Baranda',
  'Casa del Reloj',
  'Parque de las Avenidas',
  'Peñagrande',
  'San Blas',
  'Legazpi',
  'Arroyofresno',
  'Lista',
  'La Gavia',
  'Velázquez',
  'Avenida de la Paz',
  'Simancas',
  'San Lorenzo',
  'Empalme',
  'Manuela Malasaña',
  'Móstoles Central',
  'Pueblo Nuevo',
  'Lacoma',
  'Manuel Becerra',
  'Tirso de Molina',
  'Plaza Elíptica',
  'Ciudad Universitaria',
  'Congosto',
  'Antonio Machado',
  'Puerta de Arganda',
  'Suanzes',
  'San Cristóbal',
  'Pirámides',
  'Pan Bendito',
  'Gran Vía',
  'Bilbao',
  'Embajadores'],
 'metro-ligero': ['Cantabria',
  'Ciudad del Cine',
  'Pinar de Chamartín',
  'Colonia Jardín',
  'Colonia de los Ángeles',
  'José Isbert',
  'Jaime I Sur (vuelta)',
  'Parque Parla Este',
  'Tierra Norte (ida)',
  'Reyes Católicos',
  'Tierra Sur (vuelta)',
  'Venus Norte (ida)',
  'Estrella Polar Sur (vuelta)',
  'Plaza de Toros',
  'María Tudor',
  'Infante Don Luis',
  'Montepríncipe',
  'Bulevar Sur',
  'Estación de Aravaca',
  'Ventorro del Cano',
  'Estrella Polar Norte (ida)',
  'Berna',
  'Prado del Rey',
  'Avenida Sistema Solar',
  'La Ballena',
  'Cocheras',
  'Pozuelo Oeste',
  'Prado de la Vega',
  'Álvarez de Villaamil',
  'Palas de Rey',
  'Las Tablas',
  'Somosaguas Centro',
  'Nuevo Mundo',
  'Bélgica',
  'Campus de Somosaguas',
  'Boadilla Centro',
  'Iglesia Centro',
  'Antonio Saura',
  'Retamares',
  'Polígono Industrial Ciudad de Parla',
  'Jaime I Norte (ida)',
  'Julio Romero de Torres',
  'Dos Castillas',
  'Parla Centro - Bulevar Norte',
  'Blasco Ibáñez',
  'Somosaguas Sur',
  'Prado del Espino',
  'Ferial de Boadilla',
  'Isabel II',
  'Fuente de la Mora',
  'Puerta de Boadilla',
  'Siglo XXI',
  'Ciudad de la Imagen',
  'Venus Sur (vuelta)',
  'Avenida de Europa',
  'Virgen del Cortijo'],
 'cercanias-renfe': ['Delicias',
  'Leganés',
  'Los Molinos',
  'Coslada',
  'Santa Eugenia',
  'San Fernando',
  'Cercedilla',
  'Galapagar - La Navata',
  'Getafe Sector 3',
  'Cuatro Vientos',
  'Sol',
  'Fuencarral',
  'Asamblea de Madrid-Entrevías',
  'El Casar',
  'Alcorcón',
  'Cotos',
  'Guadalajara',
  'Villalba',
  'San Yago',
  'Fanjul',
  'Las Matas',
  'El Goloso',
  'Villaverde Bajo',
  'Tres Cantos',
  'Pitis',
  'Aluche',
  'Príncipe Pío',
  'Alcalá de Henares',
  'Ciempozuelos',
  'Móstoles',
  'Collado Mediano',
  'Orcasitas',
  'Getafe Industrial',
  'Zarzalejo',
  'Parque Polvoranca',
  'Puerto de Navacerrada',
  'Puente Alcocer',
  'Villaverde Alto',
  'La Garena',
  'Recoletos',
  'Vicálvaro',
  'El Barrial - C.C. Pozuelo',
  'Atocha',
  'Laguna',
  'Alcalá de Henares Universidad',
  'Mirasierra-Paco de Lucía',
  'La Serna',
  'Pinar de Las Rozas',
  'Aravaca',
  'Torrejón de Ardoz',
  'Las Águilas',
  'Colmenar Viejo',
  'Humanes',
  'Móstoles - El Soto',
  'Parla',
  'Torrelodones',
  'Chamartín',
  'Pozuelo',
  'Soto del Henares',
  'Vallecas',
  'Aeropuerto T4',
  'Cantoblanco Universidad',
  'Nuevos Ministerios',
  'Universidad P. Comillas',
  'Valdemoro',
  'Santa María de la Alameda',
  'Los Negrales',
  'Fuenlabrada',
  'Meco',
  'Majadahonda',
  'Fuente de la Mora',
  'San Cristóbal Industrial',
  'Zarzaquemada',
  'Las Zorreras',
  'Pinar de las Rozas',
  'Valdebebas',
  'Pinto',
  'Méndez Álvaro',
  'Ramón y Cajal',
  'El Escorial',
  'Robledo de Chavela',
  'Getafe Centro',
  'Las Retamas',
  'Las Margaritas - Universidad',
  'Valdelasfuentes',
  'El Pozo',
  'Las Rozas',
  'Azuqueca',
  'Doce de Octubre',
  'Aranjuez',
  'Alpedrete',
  'San José de Valderas',
  'San Cristóbal de los Ángeles',
  'Pirámides',
  'Embajadores',
  'Alcobendas - S.S. de los Reyes']}

In [45]:
for t in crtm.TRANSPORT_TYPES:
    print("Estaciones de {}: {}".format(t, len(dict_stations[t])))

Estaciones de metro: 243
Estaciones de metro-ligero: 56
Estaciones de cercanias-renfe: 96

Número de estaciones según stops

In [139]:
def check_stop_stations():
    for t in crtm.TRANSPORT_TYPES:
        pd_stops = pd.read_csv("stops-{}.txt".format(t))
        stations = len(pd_stops[pd_stops['location_type']==0]['stop_name'].unique())
        print("Estaciones {}: {}".format(t, stations))

In [140]:
check_stop_stations()

Estaciones metro: 243
Estaciones metro-ligero: 56
Estaciones cercanias-renfe: 95

Hay una estación menos de renfe en el fichero stops... Comprobamos

Se debe a que en las estaciones obtenidas desde la web, aparece Pinar de las Rozas (C-3a, C-8) y Pinar de Las Rozas (C-10)

En metro, también aparece dos veces Sainz de Baranda (con y sin acentos) por lo que son 242 estaciones de metro.

In [21]:
pd_stops = pd.read_csv("stops-metro-ligero.txt")

In [22]:
pd_stops

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,par_10_1,1,PINAR DE CHAMARTIN,NaN,40.48014,-3.66684,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
1,acc_10_1_721,1,Arturo Soria,Calle de Arturo Soria 330,40.48023,-3.66684,NaN,http://www.crtm.es,2,est_10_1,NaN,0
2,acc_10_1_722,1,Ascensor,Calle de Arturo Soria 330,40.48015,-3.66694,NaN,http://www.crtm.es,2,est_10_1,NaN,0
3,par_10_2,2,FUENTE DE LA MORA,NaN,40.48482,-3.66325,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
4,acc_10_2_723,2,Avda. Fuente de la Mora,Cmno de la Fuente de la Mora 6,40.48561,-3.66318,NaN,http://www.crtm.es,2,est_10_2,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...
91,par_10_64,64,ESTRELLA POLAR NORTE,NaN,40.23015,-3.75112,B2,http://www.crtm.es,0,NaN,Europe/Madrid,2
92,par_10_65,65,ESTRELLA POLAR SUR,NaN,40.23072,-3.75383,B2,http://www.crtm.es,0,NaN,Europe/Madrid,2
93,par_10_66,66,JAIME I NORTE,NaN,40.23414,-3.74969,B2,http://www.crtm.es,0,NaN,Europe/Madrid,2
94,par_10_67,67,JAIME I SUR,NaN,40.23470,-3.75240,B2,http://www.crtm.es,0,NaN,Europe/Madrid,2
95,par_10_68,68,POLIGONO INDUSTRIAL CIUDAD DE PARLA,NaN,40.23867,-3.75045,B2,http://www.crtm.es,0,NaN,Europe/Madrid,2

In [26]:
#Los accesos tienen stop_desc y parent_station informados
pd_stops[~pd_stops.stop_desc.isnull()]

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
1,acc_10_1_721,1,Arturo Soria,Calle de Arturo Soria 330,40.48023,-3.66684,NaN,http://www.crtm.es,2,est_10_1,NaN,0
2,acc_10_1_722,1,Ascensor,Calle de Arturo Soria 330,40.48015,-3.66694,NaN,http://www.crtm.es,2,est_10_1,NaN,0
4,acc_10_2_723,2,Avda. Fuente de la Mora,Cmno de la Fuente de la Mora 6,40.48561,-3.66318,NaN,http://www.crtm.es,2,est_10_2,NaN,0
5,acc_10_2_724,2,Ascensor,Cmno de la Fuente de la Mora 6,40.48566,-3.66302,NaN,http://www.crtm.es,2,est_10_2,NaN,0
6,acc_10_2_725,2,Camino Fuente de la Mora,Calle de Dulce Chacón 15,40.48461,-3.66308,NaN,http://www.crtm.es,2,est_10_2,NaN,0
7,acc_10_2_726,2,Ascensor,Calle de Dulce Chacón 15,40.48461,-3.66302,NaN,http://www.crtm.es,2,est_10_2,NaN,0
9,acc_10_3_727,3,Avda. Manoteras,Avda de Manoteras 49,40.48740,-3.66105,NaN,http://www.crtm.es,2,est_10_3,NaN,0
10,acc_10_3_728,3,Ascensor,Avda de Manoteras 49,40.48742,-3.66116,NaN,http://www.crtm.es,2,est_10_3,NaN,0
12,acc_10_4_732,4,Príncipe Carlos,Calle del Príncipe Carlos 10,40.48552,-3.65350,NaN,http://www.crtm.es,2,est_10_4,NaN,0
14,acc_10_5_733,5,Príncipe Carlos,Calle del Príncipe Carlos 13 B,40.48903,-3.65126,NaN,http://www.crtm.es,2,est_10_5,NaN,0
16,acc_10_6_719,6,Príncipe Carlos,Calle del Príncipe Carlos 48,40.49354,-3.65563,NaN,http://www.crtm.es,2,est_10_6,NaN,0
17,acc_10_6_720,6,Ascensor,Calle del Príncipe Carlos 48,40.49357,-3.65570,NaN,http://www.crtm.es,2,est_10_6,NaN,0
19,acc_10_7_729,7,María Tudor,Calle de María Tudor 15,40.49701,-3.65907,NaN,http://www.crtm.es,2,est_10_7,NaN,0
20,acc_10_7_730,7,Ascensor,Calle de María Tudor 15,40.49708,-3.65905,NaN,http://www.crtm.es,2,est_10_7,NaN,0
21,acc_10_7_731,7,Catalina de Austria,Calle de María Tudor 15,40.49779,-3.65820,NaN,http://www.crtm.es,2,est_10_7,NaN,0
23,acc_10_8_734,8,Palas de Rey,Calle de Palas de Rey SN,40.50546,-3.66501,NaN,http://www.crtm.es,2,est_10_8,NaN,0
25,acc_10_9_735,9,Palas de Rey,Calle de Palas de Rey SN,40.50808,-3.66884,NaN,http://www.crtm.es,2,est_10_9,NaN,0
40,acc_10_14_808,14,Somosaguas Sur,Calle Veritas 1,40.41499,-3.79262,NaN,http://www.crtm.es,2,est_10_14,NaN,0
41,acc_10_14_809,14,Ascensor,Calle Veritas 1,40.41567,-3.79264,NaN,http://www.crtm.es,2,est_10_14,NaN,0
48,acc_10_21_810,21,Avenida de Europa,Avda Comunidad de Madrid 3,40.43914,-3.79309,NaN,http://www.crtm.es,2,est_10_21,NaN,0
49,acc_10_21_811,21,Ascensor,Avda Comunidad de Madrid 3,40.43953,-3.79301,NaN,http://www.crtm.es,2,est_10_21,NaN,0
51,acc_10_22_812,22,Berna,Calle Plutón 1,40.44476,-3.79116,NaN,http://www.crtm.es,2,est_10_22,NaN,0
52,acc_10_22_813,22,Ascensor,Calle Plutón 1,40.44460,-3.79116,NaN,http://www.crtm.es,2,est_10_22,NaN,0
64,acc_10_29_738,29,Ascensor,Avda del Montepríncipe 1,40.39777,-3.83592,NaN,http://www.crtm.es,2,est_10_29,NaN,0
65,acc_10_29_739,29,Montepríncipe,Avda del Montepríncipe 1,40.39787,-3.83582,NaN,http://www.crtm.es,2,est_10_29,NaN,0

In [29]:
#est_ son estaciones físicas, si no tienen no aparecen (metro ligero hay estaciones en la calle)
len(pd_stops[pd_stops['stop_id'].str.contains("par")])

57

In [15]:
pd_stops[pd_stops.parent_station.isnull()]

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,par_10_1,1,PINAR DE CHAMARTIN,NaN,40.48014,-3.66684,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
3,par_10_2,2,FUENTE DE LA MORA,NaN,40.48482,-3.66325,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
8,par_10_3,3,VIRGEN DEL CORTIJO,NaN,40.48734,-3.66098,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
11,par_10_4,4,ANTONIO SAURA,NaN,40.48546,-3.65353,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
13,par_10_5,5,ALVAREZ DE VILLAAMIL,NaN,40.48905,-3.65136,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
...,...,...,...,...,...,...,...,...,...,...,...,...
91,par_10_64,64,ESTRELLA POLAR NORTE,NaN,40.23015,-3.75112,B2,http://www.crtm.es,0,NaN,Europe/Madrid,2
92,par_10_65,65,ESTRELLA POLAR SUR,NaN,40.23072,-3.75383,B2,http://www.crtm.es,0,NaN,Europe/Madrid,2
93,par_10_66,66,JAIME I NORTE,NaN,40.23414,-3.74969,B2,http://www.crtm.es,0,NaN,Europe/Madrid,2
94,par_10_67,67,JAIME I SUR,NaN,40.23470,-3.75240,B2,http://www.crtm.es,0,NaN,Europe/Madrid,2
95,par_10_68,68,POLIGONO INDUSTRIAL CIUDAD DE PARLA,NaN,40.23867,-3.75045,B2,http://www.crtm.es,0,NaN,Europe/Madrid,2

In [10]:
pd_stops.groupby('stop_code').count()

,stop_id,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
stop_code,,,,,,,,,,,
1,4,4,2,4,4,2,4,4,2,2,4
2,6,6,4,6,6,2,6,6,4,2,6
3,4,4,2,4,4,2,4,4,2,2,4
4,3,3,1,3,3,2,3,3,1,2,3
5,3,3,1,3,3,2,3,3,1,2,3
6,4,4,2,4,4,2,4,4,2,2,4
7,5,5,3,5,5,2,5,5,3,2,5
8,3,3,1,3,3,2,3,3,1,2,3
9,3,3,1,3,3,2,3,3,1,2,3
10,2,2,0,2,2,2,2,2,0,2,2
11,1,1,0,1,1,1,1,1,0,1,1
12,1,1,0,1,1,1,1,1,0,1,1
13,1,1,0,1,1,1,1,1,0,1,1
14,4,4,2,4,4,2,4,4,2,2,4
15,1,1,0,1,1,1,1,1,0,1,1
16,1,1,0,1,1,1,1,1,0,1,1
18,1,1,0,1,1,1,1,1,0,1,1
19,1,1,0,1,1,1,1,1,0,1,1
20,1,1,0,1,1,1,1,1,0,1,1
21,4,4,2,4,4,2,4,4,2,2,4
22,4,4,2,4,4,2,4,4,2,2,4
23,1,1,0,1,1,1,1,1,0,1,1
24,1,1,0,1,1,1,1,1,1,0,1
25,1,1,0,1,1,1,1,1,0,1,1
26,1,1,0,1,1,1,1,1,0,1,1
27,1,1,0,1,1,1,1,1,0,1,1
28,1,1,0,1,1,1,1,1,0,1,1
29,4,4,2,4,4,2,4,4,2,2,4
30,1,1,0,1,1,1,1,1,0,1,1
31,1,1,0,1,1,1,1,1,0,1,1
32,1,1,0,1,1,1,1,1,0,1,1
33,1,1,0,1,1,1,1,1,0,1,1
34,1,1,0,1,1,1,1,1,0,1,1
35,1,1,0,1,1,1,1,1,0,1,1
36,1,1,0,1,1,1,1,1,0,1,1
37,1,1,0,1,1,1,1,1,0,1,1
38,1,1,0,1,1,1,1,1,0,1,1
39,1,1,0,1,1,1,1,1,0,1,1
50,1,1,0,1,1,1,1,1,0,1,1
51,1,1,0,1,1,1,1,1,0,1,1
52,1,1,0,1,1,1,1,1,0,1,1
53,1,1,0,1,1,1,1,1,0,1,1
54,1,1,0,1,1,1,1,1,0,1,1
55,1,1,0,1,1,1,1,1,0,1,1
56,1,1,0,1,1,1,1,1,0,1,1
57,1,1,0,1,1,1,1,1,0,1,1
58,1,1,0,1,1,1,1,1,0,1,1
59,1,1,0,1,1,1,1,1,0,1,1
60,1,1,0,1,1,1,1,1,0,1,1
61,1,1,0,1,1,1,1,1,0,1,1
62,1,1,0,1,1,1,1,1,0,1,1
63,1,1,0,1,1,1,1,1,0,1,1
64,1,1,0,1,1,1,1,1,0,1,1
65,1,1,0,1,1,1,1,1,0,1,1
66,1,1,0,1,1,1,1,1,0,1,1
67,1,1,0,1,1,1,1,1,0,1,1
68,1,1,0,1,1,1,1,1,0,1,1

In [348]:
stations_web

{'metro': {'1': ['PINAR DE CHAMARTIN',
   'BAMBU',
   'CHAMARTIN',
   'PLAZA DE CASTILLA',
   'VALDEACEDERAS',
   'TETUAN',
   'ESTRECHO',
   'ALVARADO',
   'CUATRO CAMINOS',
   'RIOS ROSAS',
   'IGLESIA',
   'BILBAO',
   'TRIBUNAL',
   'GRAN VIA',
   'SOL',
   'TIRSO DE MOLINA',
   'ANTON MARTIN',
   'ESTACION DEL ARTE',
   'ATOCHA-RENFE',
   'MENENDEZ PELAYO',
   'PACIFICO',
   'PUENTE DE VALLECAS',
   'NUEVA NUMANCIA',
   'PORTAZGO',
   'BUENOS AIRES',
   'ALTO DEL ARENAL',
   'MIGUEL HERNANDEZ',
   'SIERRA DE GUADALUPE',
   'VILLA DE VALLECAS',
   'CONGOSTO',
   'LA GAVIA',
   'LAS SUERTES',
   'VALDECARROS'],
  '2': ['LAS ROSAS',
   'AVENIDA DE GUADALAJARA',
   'ALSACIA',
   'LA ALMUDENA',
   'LA ELIPA',
   'VENTAS',
   'MANUEL BECERRA',
   'GOYA',
   'PRINCIPE DE VERGARA',
   'RETIRO',
   'BANCO DE ESPANA',
   'SEVILLA',
   'SOL',
   'OPERA',
   'SANTO DOMINGO',
   'NOVICIADO',
   'SAN BERNARDO',
   'QUEVEDO',
   'CANAL',
   'CUATRO CAMINOS'],
  '3': ['VILLAVERDE ALTO',
   'SAN CRISTOBAL',
   'VILLAVERDE BAJO - CRUCE',
   'CIUDAD DE LOS ANGELES',
   'SAN FERMIN - ORCASUR',
   'HOSPITAL 12 DE OCTUBRE',
   'ALMENDRALES',
   'LEGAZPI',
   'DELICIAS',
   'PALOS DE LA FRONTERA',
   'EMBAJADORES',
   'LAVAPIES',
   'SOL',
   'CALLAO',
   'PLAZA DE ESPANA',
   'VENTURA RODRIGUEZ',
   'ARGUELLES',
   'MONCLOA'],
  '4': ['ARGUELLES',
   'SAN BERNARDO',
   'BILBAO',
   'ALONSO MARTINEZ',
   'COLON',
   'SERRANO',
   'VELAZQUEZ',
   'GOYA',
   'LISTA',
   'DIEGO DE LEON',
   'AVENIDA DE AMERICA',
   'PROSPERIDAD',
   'ALFONSO XIII',
   'AVENIDA DE LA PAZ',
   'ARTURO SORIA',
   'ESPERANZA',
   'CANILLAS',
   'MAR DE CRISTAL',
   'SAN LORENZO',
   'PARQUE DE SANTA MARIA',
   'HORTALEZA',
   'MANOTERAS',
   'PINAR DE CHAMARTIN'],
  '5': ['ALAMEDA DE OSUNA',
   'EL CAPRICHO',
   'CANILLEJAS',
   'TORRE ARIAS',
   'SUANZES',
   'CIUDAD LINEAL',
   'PUEBLO NUEVO',
   'QUINTANA',
   'EL CARMEN',
   'VENTAS',
   'DIEGO DE LEON',
   'NUNEZ DE BALBOA',
   'RUBEN DARIO',
   'ALONSO MARTINEZ',
   'CHUECA',
   'GRAN VIA',
   'CALLAO',
   'OPERA',
   'LA LATINA',
   'PUERTA DE TOLEDO',
   'ACACIAS',
   'PIRAMIDES',
   'MARQUES DE VADILLO',
   'URGEL',
   'OPORTO',
   'VISTA ALEGRE',
   'CARABANCHEL',
   'EUGENIA DE MONTIJO',
   'ALUCHE',
   'EMPALME',
   'CAMPAMENTO',
   'CASA DE CAMPO'],
  '6': ['LAGUNA',
   'CARPETANA',
   'OPORTO',
   'OPANEL',
   'PLAZA ELIPTICA',
   'USERA',
   'LEGAZPI',
   'ARGANZUELA - PLANETARIO',
   'MENDEZ ALVARO',
   'PACIFICO',
   'CONDE DE CASAL',
   'SAINZ DE BARANDA',
   'OAVENIDADONNELL',
   'MANUEL BECERRA',
   'DIEGO DE LEON',
   'AVENIDA DE AMERICA',
   'REPUBLICA ARGENTINA',
   'NUEVOS MINISTERIOS',
   'CUATRO CAMINOS',
   'GUZMAN EL BUENO',
   'VICENTE ALEIXANDRE',
   'CIUDAD UNIVERSITARIA',
   'MONCLOA',
   'ARGUELLES',
   'PRINCIPE PIO',
   'PUERTA DEL ANGEL',
   'ALTO DE EXTREMADURA',
   'LUCERO'],
  '7': ['HOSPITAL DEL HENARES',
   'HENARES',
   'JARAMA',
   'SAN FERNANDO',
   'LA RAMBLA',
   'COSLADA CENTRAL',
   'BARRIO DEL PUERTO',
   'ESTADIO METROPOLITANO',
   'LAS MUSAS',
   'SAN BLAS',
   'SIMANCAS',
   'GARCIA NOBLEJAS',
   'ASCAO',
   'PUEBLO NUEVO',
   'BARRIO DE LA CONCEPCION',
   'PARQUE DE LAS AVENIDAS',
   'CARTAGENA',
   'AVENIDA DE AMERICA',
   'GREGORIO MARANON',
   'ALONSO CANO',
   'CANAL',
   'ISLAS FILIPINAS',
   'GUZMAN EL BUENO',
   'FRANCOS RODRIGUEZ',
   'VALDEZARZA',
   'ANTONIO MACHADO',
   'PENAGRANDE',
   'AVENIDA DE LA ILUSTRACION',
   'LACOMA',
   'ARROYOFRESNO',
   'PITIS'],
  '8': ['NUEVOS MINISTERIOS',
   'COLOMBIA',
   'PINAR DEL REY',
   'MAR DE CRISTAL',
   'FERIA DE MADRID',
   'AEROPUERTO T1-T2-T3',
   'BARAJAS',
   'AEROPUERTO T4'],
  '9': ['PACO DE LUCIA',
   'MIRASIERRA',
   'HERRERA ORIA',
   'BARRIO DEL PILAR',
   'VENTILLA',
   'PLAZA DE CASTILLA',
   'DUQUE DE PASTRANA',
   'PIO XII',
   'COLOMBIA',
   'CONCHA ESPINA',
   'CRUZ DEL RAYO',
   'AVENIDA DE AMERICA',
   'NUNEZ DE BALBOA',
   'PRINCIPE DE VERGARA',
   'IBIZA',
   'SAINZ DE BARANDA',
   'ESTRELLA',
   'VINATEROS',
   'ARTILLEROS',
   'PAVONES',
   'VALDEBERNARDO',
   'VICALVARO',
   'SAN CIPRIANO',
   'PUERTA DE ARGANDA',
   'RIVAS URBANIZACIONES',
   'RIVAS FUTURA',
   'RIVAS VACIAMADRID',
   'LA POVEDA',
   'ARGANDA DEL REY'],
  '10': ['HOSPITAL INFANTA SOFIA',
   'REYES CATOLICOS',
   'BAUNATAL',
   'MANUEL DE FALLA',
   'MARQUES DE LA VALDAVIA',
   'LA MORALEJA',
   'LA GRANJA',
   'RONDA DE LA COMUNICACION',
   'LAS TABLAS',
   'MONTECARMELO',
   'TRES OLIVOS',
   'FUENCARRAL',
   'BEGONA',
   'CHAMARTIN',
   'PLAZA DE CASTILLA',
   'CUZCO',
   'SANTIAGO BERNABEU',
   'NUEVOS MINISTERIOS',
   'GREGORIO MARANON',
   'ALONSO MARTINEZ',
   'TRIBUNAL',
   'PLAZA DE ESPANA',
   'PRINCIPE PIO',
   'LAGO',
   'BATAN',
   'CASA DE CAMPO',
   'COLONIA JARDIN',
   'AVIACION ESPANOLA',
   'CUATRO VIENTOS',
   'JOAQUIN VILUMBRALES',
   'PUERTA DEL SUR'],
  '11': ['PLAZA ELIPTICA',
   'ABRANTES',
   'PAN BENDITO',
   'SAN FRANCISCO',
   'CARABANCHEL ALTO',
   'LA PESETA',
   'LA FORTUNA'],
  '12': ['PUERTA DEL SUR',
   'PARQUE LISBOA',
   'ALCORCON CENTRAL',
   'PARQUE OESTE',
   'UNIVERSIDAD REY JUAN CARLOS',
   'MOSTOLES CENTRAL',
   'PRADILLO',
   'HOSPITAL DE MOSTOLES',
   'MANUELA MALASANA',
   'LORANCA',
   'HOSPITAL DE FUENLABRADA',
   'PARQUE EUROPA',
   'FUENLABRADA CENTRAL',
   'PARQUE DE LOS ESTADOS',
   'ARROYO CULEBRO',
   'CONSERVATORIO',
   'ALONSO DE MENDOZA',
   'GETAFE CENTRAL',
   'JUAN DE LA CIERVA',
   'EL CASAR',
   'LOS ESPARTALES',
   'EL BERCIAL',
   'EL CARRASCAL',
   'JULIAN BESTEIRO',
   'CASA DEL RELOJ',
   'HOSPITAL SEVERO OCHOA',
   'LEGANES CENTRAL',
   'SAN NICASIO'],
  'R': ['OPERA', 'PRINCIPE PIO']},
 'metro-ligero': {'1': ['PINAR DE CHAMARTIN',
   'FUENTE DE LA MORA',
   'VIRGEN DEL CORTIJO',
   'ANTONIO SAURA',
   'ALVAREZ DE VILLAAMIL',
   'BLASCO IBANEZ',
   'MARIA TUDOR',
   'PALAS DE REY',
   'LAS TABLAS'],
  '2': ['COLONIA JARDIN',
   'PRADO DE LA VEGA',
   'COLONIA DE LOS ANGELES',
   'PRADO DEL REY',
   'SOMOSAGUAS SUR',
   'SOMOSAGUAS CENTRO',
   'POZUELO OESTE',
   'BELGICA',
   'DOS CASTILLAS',
   'CAMPUS DE SOMOSAGUAS',
   'AVENIDA DE EUROPA',
   'BERNA',
   'ESTACION DE ARAVACA'],
  '3': ['COLONIA JARDIN',
   'CIUDAD DE LA IMAGEN',
   'JOSE ISBERT',
   'CIUDAD DEL CINE',
   'COCHERAS',
   'RETAMARES',
   'MONTEPRINCIPE',
   'VENTORRO DEL CANO',
   'PRADO DEL ESPINO',
   'CANTABRIA',
   'FERIAL DE BOADILLA',
   'BOADILLA CENTRO',
   'NUEVO MUNDO',
   'SIGLO XXI',
   'INFANTE DON LUIS',
   'PUERTA DE BOADILLA'],
  '4': ['ESTRELLA POLAR NORTE',
   'ESTRELLA POLAR SUR',
   'JAIME I NORTE',
   'JAIME I SUR',
   'POLIGONO INDUSTRIAL CIUDAD DE PARLA',
   'PLAZA DE TOROS',
   'JULIO ROMERO DE TORRES',
   'LA BALLENA',
   'PARLA CENTRO - BULEVAR NORTE',
   'IGLESIA CENTRO',
   'BULEVAR SUR',
   'REYES CATOLICOS',
   'ISABEL II',
   'PARQUE PARLA ESTE',
   'AVENIDA SISTEMA SOLAR',
   'TIERRA NORTE',
   'TIERRA SUR',
   'VENUS NORTE',
   'VENUS SUR']},
 'cercanias-renfe': {'C-1': ['PRINCIPE PIO',
   'PIRAMIDES',
   'DELICIAS',
   'MENDEZ ALVARO',
   'ATOCHA',
   'RECOLETOS',
   'NUEVOS MINISTERIOS',
   'CHAMARTIN',
   'FUENTE DE LA MORA',
   'VALDEBEBAS',
   'AEROPUERTO T4'],
  'C-2': ['GUADALAJARA',
   'AZUQUECA',
   'MECO',
   'ALCALA DE HENARES UNIVERSIDAD',
   'ALCALA DE HENARES',
   'LA GARENA',
   'SOTO DEL HENARES',
   'TORREJON DE ARDOZ',
   'SAN FERNANDO',
   'COSLADA',
   'VICALVARO',
   'SANTA EUGENIA',
   'VALLECAS',
   'EL POZO',
   'ASAMBLEA DE MADRID-ENTREVIAS',
   'ATOCHA',
   'RECOLETOS',
   'NUEVOS MINISTERIOS',
   'CHAMARTIN'],
  'C-3': ['ARANJUEZ',
   'CIEMPOZUELOS',
   'VALDEMORO',
   'PINTO',
   'GETAFE INDUSTRIAL',
   'EL CASAR',
   'SAN CRISTOBAL INDUSTRIAL',
   'SAN CRISTOBAL DE LOS ANGELES',
   'VILLAVERDE BAJO',
   'ATOCHA',
   'SOL',
   'NUEVOS MINISTERIOS',
   'CHAMARTIN'],
  'C-3a': ['ARANJUEZ',
   'CIEMPOZUELOS',
   'VALDEMORO',
   'PINTO',
   'GETAFE INDUSTRIAL',
   'EL CASAR',
   'SAN CRISTOBAL INDUSTRIAL',
   'SAN CRISTOBAL DE LOS ANGELES',
   'VILLAVERDE BAJO',
   'ATOCHA',
   'SOL',
   'NUEVOS MINISTERIOS',
   'CHAMARTIN',
   'RAMON Y CAJAL',
   'MIRASIERRA-PACO DE LUCIA',
   'PITIS',
   'PINAR DE LAS ROZAS',
   'LAS MATAS',
   'TORRELODONES',
   'GALAPAGAR - LA NAVATA',
   'VILLALBA',
   'SAN YAGO',
   'LAS ZORRERAS',
   'EL ESCORIAL',
   'ZARZALEJO',
   'ROBLEDO DE CHAVELA',
   'SANTA MARIA DE LA ALAMEDA'],
  'C-4a': ['PARLA',
   'GETAFE SECTOR 3',
   'GETAFE CENTRO',
   'LAS MARGARITAS - UNIVERSIDAD',
   'VILLAVERDE ALTO',
   'VILLAVERDE BAJO',
   'ATOCHA',
   'SOL',
   'NUEVOS MINISTERIOS',
   'CHAMARTIN',
   'FUENCARRAL',
   'CANTOBLANCO UNIVERSIDAD',
   'UNIVERSIDAD P. COMILLAS',
   'VALDELASFUENTES',
   'ALCOBENDAS - S.S. DE LOS REYES'],
  'C-4b': ['PARLA',
   'GETAFE SECTOR 3',
   'GETAFE CENTRO',
   'LAS MARGARITAS - UNIVERSIDAD',
   'VILLAVERDE ALTO',
   'VILLAVERDE BAJO',
   'ATOCHA',
   'SOL',
   'NUEVOS MINISTERIOS',
   'CHAMARTIN',
   'FUENCARRAL',
   'CANTOBLANCO UNIVERSIDAD',
   'EL GOLOSO',
   'TRES CANTOS',
   'COLMENAR VIEJO'],
  'C-5': ['MOSTOLES EL SOTO',
   'MOSTOLES',
   'LAS RETAMAS',
   'ALCORCON',
   'SAN JOSE DE VALDERAS',
   'CUATRO VIENTOS',
   'LAS AGUILAS',
   'FANJUL',
   'ALUCHE',
   'LAGUNA',
   'EMBAJADORES',
   'ATOCHA',
   'MENDEZ ALVARO',
   'DOCE DE OCTUBRE',
   'ORCASITAS',
   'PUENTE ALCOCER',
   'VILLAVERDE ALTO',
   'ZARZAQUEMADA',
   'LEGANES',
   'PARQUE POLVORANCA',
   'LA SERNA',
   'FUENLABRADA',
   'HUMANES'],
  'C-7': ['ALCALA DE HENARES',
   'LA GARENA',
   'SOTO DEL HENARES',
   'TORREJON DE ARDOZ',
   'SAN FERNANDO',
   'COSLADA',
   'VICALVARO',
   'SANTA EUGENIA',
   'VALLECAS',
   'EL POZO',
   'ASAMBLEA DE MADRID-ENTREVIAS',
   'ATOCHA',
   'RECOLETOS',
   'NUEVOS MINISTERIOS',
   'CHAMARTIN',
   'RAMON Y CAJAL',
   'MIRASIERRA-PACO DE LUCIA',
   'PITIS',
   'LAS ROZAS',
   'MAJADAHONDA',
   'EL BARRIAL - C.C. POZUELO',
   'POZUELO',
   'ARAVACA',
   'PRINCIPE PIO'],
  'C-8': ['GUADALAJARA',
   'AZUQUECA',
   'MECO',
   'ALCALA DE HENARES UNIVERSIDAD',
   'ALCALA DE HENARES',
   'LA GARENA',
   'SOTO DEL HENARES',
   'TORREJON DE ARDOZ',
   'SAN FERNANDO',
   'COSLADA',
   'VICALVARO',
   'SANTA EUGENIA',
   'VALLECAS',
   'EL POZO',
   'ASAMBLEA DE MADRID-ENTREVIAS',
   'ATOCHA',
   'RECOLETOS',
   'NUEVOS MINISTERIOS',
   'CHAMARTIN',
   'RAMON Y CAJAL',
   'MIRASIERRA-PACO DE LUCIA',
   'PITIS',
   'PINAR DE LAS ROZAS',
   'LAS MATAS',
   'TORRELODONES',
   'GALAPAGAR - LA NAVATA',
   'VILLALBA',
   'LOS NEGRALES',
   'ALPEDRETE',
   'COLLADO MEDIANO',
   'LOS MOLINOS',
   'CERCEDILLA'],
  'C-9': ['CERCEDILLA', 'PUERTO DE NAVACERRADA', 'COTOS'],
  'C-10': ['VILLALBA',
   'GALAPAGAR - LA NAVATA',
   'TORRELODONES',
   'LAS MATAS',
   'PINAR DE LAS ROZAS',
   'LAS ROZAS',
   'MAJADAHONDA',
   'EL BARRIAL - C.C. POZUELO',
   'POZUELO',
   'ARAVACA',
   'PRINCIPE PIO',
   'PIRAMIDES',
   'DELICIAS',
   'MENDEZ ALVARO',
   'ATOCHA',
   'RECOLETOS',
   'NUEVOS MINISTERIOS',
   'CHAMARTIN',
   'FUENTE DE LA MORA',
   'VALDEBEBAS',
   'AEROPUERTO T4']}}

## Unificación de fuentes

In [115]:
def clean_station(station):
    # Tildes
    clean_station = unidecode.unidecode(station)
    # Pasar a mayus
    clean_station = clean_station.upper()
    # Estaciones de ML con (ida), (vuelta)
    clean_station = clean_station.split('(')[0]
    # Espacios innecesarios
    clean_station = clean_station.strip()
    # Otros procesados
    clean_station = clean_station.replace('RDA.', 'RONDA')
    clean_station = clean_station.replace('AVDA.', 'AVENIDA')
    clean_station = clean_station.replace("'", '')
    clean_station = clean_station.replace(" - ", '-')
    
    if clean_station == 'MOSTOLES-EL SOTO':
        clean_station = 'MOSTOLES EL SOTO'
    elif clean_station == 'BARRIAL-C.COM.POZUELO EL':
        clean_station = 'EL BARRIAL-C.C. POZUELO'
    elif clean_station == 'PUERTO NAVACERRADA':
        clean_station = 'PUERTO DE NAVACERRADA'
    elif clean_station == 'ATOCHA RENFE':
        clean_station = 'ATOCHA-RENFE'
    elif clean_station == 'AEROPUERTO T1 T2 T3':
        clean_station = 'AEROPUERTO T1-T2-T3'
    return clean_station

def clean_web_stations(stations_web):
    stations_web_cp = stations_web.copy()
    for t, t_lines in stations_web_cp.items():
        for line, stations in t_lines.items():
            for i in range(len(stations)):
                stations_web_cp[t][line][i] = clean_station(stations[i])
    return stations_web_cp

In [48]:
with open("stops-cercanias-renfe.txt") as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    for row in csv_reader:
        if 'par' in row[0]:
            dict_csv = {row[0]}

['par_5_11', '11', 'ATOCHA', '', '40.4066011651398', '-3.68921184083959', 'A', 'http://www.crtm.es', '0', 'est_90_54', '', '2']
['par_5_133', '133', 'FUENTE DE LA MORA', '', '40.4847551076476', '-3.66273198940419', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '2']
['par_5_142', '142', 'AEROPUERTO T4', '', '40.4917812474987', '-3.59324027187479', 'A', 'http://www.crtm.es', '0', 'est_90_33', '', '2']
['par_5_144', '144', 'VALDEBEBAS', '', '40.4823091642411', '-3.61634057588727', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '2']
['par_5_18', '18', 'CHAMARTIN', '', '40.4721094623497', '-3.68237859937536', 'A', 'http://www.crtm.es', '0', 'est_90_25', '', '2']
['par_5_25', '25', 'DELICIAS', '', '40.400382320912', '-3.69267182175509', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_46', '46', 'MENDEZ ALVARO', '', '40.3953883033481', '-3.67798602503064', 'A', 'http://www.crtm.es', '0', 'est_90_13', '', '1']
['par_5_51', '51', 'NUEVOS MINISTERIOS', '', '40.4466277031815', '-3.69225017986236', 'A', 'http://www.crtm.es', '0', 'est_90_71', '', '2']
['par_5_57', '57', 'PIRAMIDES', '', '40.4026028948529', '-3.71124315951466', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_61', '61', 'PRINCIPE PIO', '', '40.4210790188043', '-3.72017231064503', 'A', 'http://www.crtm.es', '0', 'est_90_18', '', '0']
['par_5_65', '65', 'RECOLETOS', '', '40.4234206237613', '-3.69076267999387', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_10', '10', 'ASAMBLEA DE MADRID-ENTREVIAS', '', '40.3816811582486', '-3.66791743399165', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_106', '106', 'GARENA LA', '', '40.4804463238511', '-3.39308128237708', 'B3', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_12', '12', 'AZUQUECA', '', '40.5610431126363', '-3.26537808007204', 'C1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_143', '143', 'SOTO DEL HENARES', '', '40.463542902173', '-3.44124824645267', 'B2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_2', '2', 'ALCALÁ DE HENARES', '', '40.4890388725212', '-3.36625200624717', 'B3', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_22', '22', 'COSLADA', '', '40.4237445026866', '-3.56105002582089', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_3', '3', 'ALCALÁ DE HENARES UNIVERSIDAD', '', '40.5053487667517', '-3.33532393016683', 'B3', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_38', '38', 'GUADALAJARA', '', '40.6440936102746', '-3.18230377067774', 'C2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_45', '45', 'MECO', '', '40.534629296321', '-3.29857120296861', 'C1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_59', '59', 'POZO EL', '', '40.3759107464157', '-3.65613962795747', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_71', '71', 'SAN FERNANDO', '', '40.4426754342948', '-3.53375699676285', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_75', '75', 'SANTA EUGENIA', '', '40.3869976228066', '-3.60896739767877', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_81', '81', 'TORREJON DE ARDOZ', '', '40.454614888402', '-3.4797310604898', 'B2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_87', '87', 'VALLECAS', '', '40.3822212818191', '-3.62446330595629', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_90', '90', 'VICALVARO', '', '40.4013272716292', '-3.59583931493827', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_103', '103', 'CASAR EL', '', '40.3184768004104', '-3.70974754476271', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '2']
['par_5_122', '122', 'SOL', '', '40.4168514100817', '-3.70300095436799', 'A', 'http://www.crtm.es', '0', 'est_90_58', '', '0']
['par_5_145', '145', 'MIRASIERRA-PACO DE LUCIA', '', '40.4997', '-3.7091', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_19', '19', 'CIEMPOZUELOS', '', '40.1590780625469', '-3.60993229369721', 'B3', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_29', '29', 'ESCORIAL EL', '', '40.5852753133497', '-4.13223833076811', 'C1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_33', '33', 'GALAPAGAR-LA NAVATA', '', '40.6001201927881', '-3.98176360815813', 'B3', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_35', '35', 'GETAFE INDUSTRIAL', '', '40.3054898291899', '-3.7075993552501', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_44', '44', 'MATAS LAS', '', '40.5525253841785', '-3.89674113569312', 'B2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_55', '55', 'PINAR DE LAS ROZAS', '', '40.5223060941516', '-3.8820657658894', 'B2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_56', '56', 'PINTO', '', '40.2428012031304', '-3.70364259838166', 'B2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_58', '58', 'PITIS', '', '40.4951150425976', '-3.72575435236588', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_64', '64', 'RAMON Y CAJAL', '', '40.4882522939954', '-3.69464819591265', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_67', '67', 'ROBLEDO DE CHAVELA', '', '40.52078', '-4.24671', 'C2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_69', '69', 'SAN CRISTOBAL DE LOS ANGELES', '', '40.3423722900696', '-3.68375397345775', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '2']
['par_5_70', '70', 'SAN CRISTOBAL INDUSTRIAL', '', '40.3319230119497', '-3.69862254904323', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_74', '74', 'SAN YAGO', '', '40.6178702391272', '-4.03101363862753', 'C1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_76', '76', 'SANTA MARIA DE LA ALAMEDA', '', '40.56892', '-4.26933', 'C2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_8', '8', 'ARANJUEZ', '', '40.0348477748241', '-3.61821249344168', 'C1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_82', '82', 'TORRELODONES', '', '40.574513990894', '-3.95644911190209', 'B3', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_86', '86', 'VALDEMORO', '', '40.1960570665724', '-3.66471800184914', 'B3', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '2']
['par_5_91', '91', 'VILLALBA', '', '40.6263702008332', '-4.00800585940991', 'B3', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_93', '93', 'VILLAVERDE BAJO', '', '40.3526507971254', '-3.68389310873579', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '2']
['par_5_94', '94', 'ZARZALEJO', '', '40.538728', '-4.15817', 'C2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_96', '96', 'ZORRERAS LAS', '', '40.6094209154972', '-4.04596665320877', 'C1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_15', '15', 'CANTOBLANCO UNIVERSIDAD', '', '40.5437936933619', '-3.70025235112853', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '2']
['par_5_21', '21', 'COLMENAR VIEJO', '', '40.6449747266778', '-3.77564070812934', 'B3', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '2']
['par_5_31', '31', 'FUENCARRAL', '', '40.5015691134975', '-3.68225218377436', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '2']
['par_5_34', '34', 'GETAFE CENTRO', '', '40.3101101574552', '-3.73384370824394', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '2']
['par_5_36', '36', 'GETAFE SECTOR 3', '', '40.2882594725019', '-3.73724253672422', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '2']
['par_5_37', '37', 'GOLOSO EL', '', '40.558583101112', '-3.71397804023902', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_4', '4', 'ALCOBENDAS-S.S. DE LOS REYES', '', '40.5465755919252', '-3.63509249422751', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '2']
['par_5_43', '43', 'MARGARITAS-UNIVERSIDAD LAS', '', '40.323052580859', '-3.72728643362543', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '2']
['par_5_53', '53', 'PARLA', '', '40.2407799399339', '-3.76926846708883', 'B2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '2']
['par_5_83', '83', 'TRES CANTOS', '', '40.5984457667284', '-3.71556021510206', 'B2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_84', '84', 'UNIVERSIDAD P. COMILLAS', '', '40.5540663923206', '-3.68324540394647', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '2']
['par_5_85', '85', 'VALDELASFUENTES', '', '40.5474506798862', '-3.65424433859136', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '2']
['par_5_92', '92', 'VILLAVERDE ALTO', '', '40.3412389095586', '-3.71183451015835', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '2']
['par_5_1', '1', 'AGUILAS LAS', '', '40.3811944339821', '-3.78018188322857', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_104', '104', 'HUMANES', '', '40.2556605065454', '-3.82837195835634', 'B3', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_105', '105', 'PARQUE POLVORANCA', '', '40.3125159337883', '-3.78325102527616', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_24', '24', 'CUATRO VIENTOS', '', '40.3777131916194', '-3.79134448595795', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_26', '26', 'DOCE DE OCTUBRE', '', '40.3789688238609', '-3.69851928058378', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_28', '28', 'EMBAJADORES', '', '40.4051335849373', '-3.70253726435191', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_30', '30', 'FANJUL', '', '40.3836601949576', '-3.76847643392453', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_32', '32', 'FUENLABRADA', '', '40.2826888663979', '-3.79876380807025', 'B2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_40', '40', 'LAGUNA', '', '40.3991887229175', '-3.74413102406784', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_41', '41', 'LEGANES', '', '40.3289921512769', '-3.77138744820868', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_48', '48', 'MOSTOLES', '', '40.3285131038066', '-3.86339907310142', 'B2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_49', '49', 'MOSTOLES EL SOTO', '', '40.3309024566344', '-3.88224085064992', 'B2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_5', '5', 'ALCORCON', '', '40.3500882086698', '-3.83163400931515', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_52', '52', 'ORCASITAS', '', '40.3669156270104', '-3.70431923112543', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_62', '62', 'PUENTE ALCOCER', '', '40.350298433469', '-3.70506479207328', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_66', '66', 'RETAMAS LAS', '', '40.3419027014314', '-3.84232998157746', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_7', '7', 'ALUCHE', '', '40.385639846032', '-3.76065253976074', 'A', 'http://www.crtm.es', '0', 'est_90_1', '', '0']
['par_5_72', '72', 'SAN JOSE DE VALDERAS', '', '40.3565433759808', '-3.81579179255598', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_77', '77', 'SERNA LA', '', '40.2967328627135', '-3.792387332242', 'B2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_95', '95', 'ZARZAQUEMADA', '', '40.3408651674076', '-3.74821098376834', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_13', '13', 'BARRIAL-C.COM.POZUELO EL', '', '40.4653831832569', '-3.80764742784864', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_42', '42', 'MAJADAHONDA', '', '40.4742852339637', '-3.84525619878252', 'B2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_60', '60', 'POZUELO', '', '40.4472743567471', '-3.80002515742272', 'B1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_68', '68', 'ROZAS LAS', '', '40.4942420238914', '-3.86803338256422', 'B2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_9', '9', 'ARAVACA', '', '40.4483360938325', '-3.78576906207162', 'A', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_16', '16', 'CERCEDILLA', '', '40.7375733500909', '-4.06580719855992', 'C2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '1']
['par_5_20', '20', 'COLLADO MEDIANO', '', '40.692759921719', '-4.03577699260154', 'C1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_47', '47', 'MOLINOS LOS', '', '40.7073509340203', '-4.06672201436673', 'C2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_50', '50', 'NEGRALES LOS', '', '40.6385815868385', '-4.02180081138074', 'C1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_6', '6', 'ALPEDRETE', '', '40.658165812941', '-4.03496961859464', 'C1', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_23', '23', 'COTOS', '', '40.8222601406103', '-3.96443439316078', 'C2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']
['par_5_63', '63', 'PUERTO NAVACERRADA', '', '40.7844156670706', '-4.00464386263311', 'C2', 'http://www.crtm.es', '0', '', 'Europe/Madrid', '0']

### Utilizando pandas para unir las fuentes

__Web__

Transformamos el diccionario obtenido de la web en una lista de tuplas (transporte, estación, línea, orden)

In [5]:
def from_dict_to_list(stations_web):
    stations_web_list = []
    for t in crtm.TRANSPORT_TYPES:
        for line,stations in stations_web[t].items():
            for s in stations:
                stations_web_list.append((t,s,line,line + '_' + str(stations.index(s))))
    return stations_web_list

In [46]:
stations_web_list = from_dict_to_list(stations_web)

Con esta lista se construye un dataframe que será la base de partida. Habrá tantos registros como estaciones dentro de las líneas.

También se limpian los datos en este punto: tildes, todo en mayus, cambios en algunos nombres...

In [160]:
def clean_dataframe(pd_df, web=True):
    if web:
        pd_df['transportmean_name'] = pd_df['transportmean_name'].apply(lambda x: 'METRO' if x=='metro' else('ML' if x=='metro-ligero' else 'CR'))
        pd_df['line_number'] = pd_df['line_number'].apply(lambda x: x.replace('-', ''))
        pd_df['order_number'] = pd_df['order_number'].apply(lambda x: x.replace('-', ''))
    pd_df['stop_name'] = pd_df['stop_name'].apply(clean_station)
    return pd_df

def web_dataframe(stations_web):
    # From dict to list
    stations_web_list = from_dict_to_list(stations_web)
    # Create Pandas df
    pd_stations_web = pd.DataFrame(stations_web_list, columns=['transportmean_name','stop_name', 'line_number', 'order_number'])
    # Cleaning
    pd_stations_web = clean_dataframe(pd_stations_web)
    return pd_stations_web

In [14]:
#pd_stations_web = pd.DataFrame(stations_web_list, columns=['transportmean_name','stop_name', 'line_number', 'order_number'])
#pd_stations_web['transportmean_name'] = pd_stations_web['transportmean_name'].apply(lambda x: 'METRO' if x=='metro' else('ML' if x=='metro-ligero' else 'CR'))
#pd_stations_web['line_number'] = pd_stations_web['line_number'].apply(lambda x: x.replace('-', ''))
#pd_stations_web['order_number'] = pd_stations_web['order_number'].apply(lambda x: x.replace('-', ''))
#pd_stations_web['stop_name'] = pd_stations_web['stop_name'].apply(clean_station)
#pd_stations_web['stop_name'] = pd_stations_web['stop_name'].apply(lambda x: x.replace(' - ', '-'))

In [174]:
pd_stations_web = web_dataframe(stations_web)

In [175]:
len(pd_stations_web)

550

In [176]:
len(pd_stations_web[pd_stations_web['transportmean_name']=='METRO']['stop_name'].unique())

242

In [177]:
len(pd_stations_web[pd_stations_web['transportmean_name']=='ML']['stop_name'].unique())

56

In [178]:
len(pd_stations_web[pd_stations_web['transportmean_name']=='CR']['stop_name'].unique())

95

In [134]:
p = pd_stations_web[pd_stations_web['transportmean_name']=='METRO'].groupby('stop_name_aux').agg('nunique')
p[p.stop_name>1]

,transportmean_name,stop_name,line_number,order_number,stop_name_aux
stop_name_aux,,,,,
SAINZ DE BARANDA,1,2,2,2,1

In [136]:
pd_stations_web[pd_stations_web['stop_name_aux']=='SAINZ DE BARANDA']

,transportmean_name,stop_name,line_number,order_number,stop_name_aux
137,METRO,Sáinz de Baranda,6,6_11,SAINZ DE BARANDA
208,METRO,Sainz de Baranda,9,9_15,SAINZ DE BARANDA

In [130]:
pd_stations_web.groupby('stop_name_aux').agg('nunique')

,transportmean_name,stop_name,line_number,order_number,stop_name_aux
stop_name_aux,,,,,
ABRANTES,1,1,1,1,1
ACACIAS,1,1,1,1,1
AEROPUERTO T1-T2-T3,1,1,1,1,1
AEROPUERTO T4,2,1,3,3,1
ALAMEDA DE OSUNA,1,1,1,1,1
...,...,...,...,...,...
VINATEROS,1,1,1,1,1
VIRGEN DEL CORTIJO,1,1,1,1,1
VISTA ALEGRE,1,1,1,1,1
ZARZALEJO,1,1,1,1,1
ZARZAQUEMADA,1,1,1,1,1

In [126]:
len(pd_stations_web[pd_stations_web['transportmean_name']=='METRO']['stop_name_aux'].unique())

242

In [117]:
pd_stations_web[['stop_name_aux', 'stop_name']]

          stop_name_aux           stop_name
0    PINAR DE CHAMARTIN  Pinar de Chamartín
1                 BAMBU               Bambú
2             CHAMARTIN           Chamartín
3     PLAZA DE CASTILLA   Plaza de Castilla
4         VALDEACEDERAS       Valdeacederas
..                  ...                 ...
545  NUEVOS MINISTERIOS  Nuevos Ministerios
546           CHAMARTIN           Chamartín
547   FUENTE DE LA MORA   Fuente de la Mora
548          VALDEBEBAS          Valdebebas
549       AEROPUERTO T4       Aeropuerto T4

[550 rows x 2 columns]

In [124]:
pd_stations_web[pd_stations_web['transportmean_name']=='METRO'][['stop_name_aux', 'stop_name']].to_csv('prueba.csv')

In [76]:
pd_stations_web_sin_tile = web_dataframe(stations_web)

In [ ]:
pd_stations_web[pd_stations_web.stop_name==""]

In [109]:
len(pd_stations_web_sin_tile[pd_stations_web_sin_tile['transportmean_name']=='METRO']['stop_name'].unique())

243

In [85]:
len(pd_stations_web[pd_stations_web['transportmean_name']=='METRO']['stop_name'].unique())

242

In [112]:
pd_stations_web[pd_stations_web.stop_name.str.contains('OPERA')]

    transportmean_name stop_name line_number order_number
46               METRO     OPERA           2         2_13
111              METRO     OPERA           5         5_17
288              METRO     OPERA           R          R_0

In [19]:
pd_stations_web[pd_stations_web.stop_name.str.contains('GRAN VIA')]

    transportmean_name stop_name  stop_code line_number order_number
13               METRO  GRAN VIA         11           1         1_13
109              METRO  GRAN VIA         11           5         5_15

In [20]:
pd_stations_web[pd_stations_web.stop_name.str.contains('BARRIAL')]

    transportmean_name                stop_name line_number order_number
490                 CR  EL BARRIAL-C.C. POZUELO          C7        C7_20
536                 CR  EL BARRIAL-C.C. POZUELO         C10        C10_7

__Stops__

Hay que arreglar algunas paradas de cercanías: CASAR EL -> EL CASAR

location_type:

- 0: paradas
- 1: estaciones. Pueden incluir paradas o accesos
- 2: entradas/salidas

In [7]:
def groupby_stations(pd_stops):
    pd_stops_group = pd_stops.groupby('stop_name').first()
    return pd_stops_group

def stops_transport_dataframe(transport):
    pd_stops = pd.read_csv("stops-{}.txt".format(transport))
    # Cleaning
    pd_stops = clean_dataframe(pd_stops, web=False)
    # Only stops
    pd_stops_par = pd_stops[pd_stops.location_type==0].copy()
    # Stations and accesses
    #pd_stops_est_acc = pd_stops[(pd_stops.location_type==1) | (pd_stops.location_type==2)].copy()
    # Process cercanias
    if transport == "cercanias-renfe":
        reverse_articles = lambda x: x.split()[-1] + ' ' + ' '.join(x.split()[:-1]) if x.split()[-1] in ['EL', 'LA', 'LAS', 'LOS'] else x
        pd_stops_par['stop_name'] = pd_stops_par['stop_name'].apply(reverse_articles)
    pd_stops_par = groupby_stations(pd_stops_par)
    
    return pd_stops_par

#### Metro

In [167]:
pd_stops_par = stops_transport_dataframe('metro').reset_index()

In [165]:
pd_stops_par.reset_index()

,stop_name,stop_id,stop_code,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,ABRANTES,par_4_207,207,Avda de Abrantes 77,40.38083,-3.72790,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
1,ACACIAS,par_4_92,92,Paseo de las Acacias 20,40.40387,-3.70664,A,http://www.crtm.es,0,NaN,Europe/Madrid,0
2,AEROPUERTO T1-T2-T3,par_4_159,159,Avda de la Hispanidad SN,40.46864,-3.56954,A,http://www.crtm.es,0,est_90_34,NaN,2
3,AEROPUERTO T4,par_4_285,285,Ctra de Alcobendas a Barajas SN,40.49177,-3.59325,A,http://www.crtm.es,0,est_90_33,NaN,2
4,ALAMEDA DE OSUNA,par_4_252,252,Calle de la Corbeta 14,40.45779,-3.58752,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
...,...,...,...,...,...,...,...,...,...,...,...,...
238,VILLA DE VALLECAS,par_4_26,26,Paseo de Federico García Lorca 2,40.37960,-3.62130,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
239,VILLAVERDE ALTO,par_4_273,273,Calle del Valle de Tobalina 56,40.34123,-3.71199,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
240,VILLAVERDE BAJO-CRUCE,par_4_271,271,Avda de Andalucía 38,40.35089,-3.69265,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
241,VINATEROS,par_4_176,176,Calle del Camino de los Vinateros 70,40.41024,-3.65273,A,http://www.crtm.es,0,NaN,Europe/Madrid,0
242,VISTA ALEGRE,par_4_97,97,Calle de la Oca 74,40.38885,-3.73982,A,http://www.crtm.es,0,NaN,Europe/Madrid,0

In [168]:
pd_stops_par[pd_stops_par.stop_name.str.contains('SAINZ')]

,stop_name,stop_id,stop_code,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
202,SAINZ DE BARANDA,par_4_114,114,Calle del Doctor Esquerdo 103,40.41507,-3.66951,A,http://www.crtm.es,0,est_4_114,Europe/Madrid,0

In [30]:
pd_stops_par.loc['GRAN VIA']

stop_id                           par_4_11
stop_code                               11
stop_desc              Calle   Gran Vía 23
stop_lat                             40.42
stop_lon                           -3.7018
zone_id                                  A
stop_url                http://www.crtm.es
location_type                            0
parent_station                    est_4_11
stop_timezone                Europe/Madrid
wheelchair_boarding                      0
Name: GRAN VIA, dtype: object

In [13]:
pd_stops_par[pd_stops_par.stop_name.str.contains('CASTILLA')]

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,par_4_1,1,PLAZA DE CASTILLA,Paseo de la Castellana 189,40.4669,-3.68917,A,http://www.crtm.es,0,est_90_21,NaN,0
901,par_4_164,164,PLAZA DE CASTILLA,Paseo de la Castellana 189,40.4669,-3.68913,A,http://www.crtm.es,0,est_90_21,NaN,0
1002,par_4_190,190,PLAZA DE CASTILLA,Paseo de la Castellana 216,40.4669,-3.68909,A,http://www.crtm.es,0,est_90_21,NaN,0

In [15]:
pd_stops_est_acc[pd_stops_est_acc.stop_name.str.contains('CASTILLA')]

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
1,acc_4_1_1,1,PLAZA DE CASTILLA,Paseo de la Castellana 189,40.46682,-3.68918,NaN,http://www.crtm.es,2,est_90_21,NaN,0
148,est_90_21,21,INTERCAMBIADOR DE PLAZA DE CASTILLA,Paseo de la Castellana 189,40.46690,-3.68920,A,http://www.crtm.es,1,NaN,Europe/Madrid,0

In [18]:
pd_stops_est_acc[pd_stops_est_acc.stop_name.str.contains('GRAN VIA')]

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
13,acc_4_11_37,11,GRAN VIA,Calle Gran Vía 21,40.41991,-3.70130,NaN,http://www.crtm.es,2,est_4_11,NaN,0
14,acc_4_11_38,11,GRAN VIA,Calle Gran Vía 23,40.41992,-3.70183,NaN,http://www.crtm.es,2,est_4_11,NaN,0
153,est_4_11,11,GRAN VIA,Calle Gran Vía 23,40.42001,-3.70180,A,http://www.crtm.es,1,NaN,Europe/Madrid,0
235,acc_4_37_117,37,GRAN VIA,Calle Gran Vía 51,40.42130,-3.70778,NaN,http://www.crtm.es,2,est_4_37,NaN,0
880,acc_4_258_637,258,GRAN VIA DE HORTALEZA,G.v. de Hortaleza 49 A,40.46815,-3.64831,NaN,http://www.crtm.es,2,est_4_258,NaN,0

In [17]:
pd_stops_par[pd_stops_par.stop_name.str.contains('NUEVOS')]

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
653,par_4_120,120,NUEVOS MINISTERIOS,Calle de Raimundo Fernández Villaverde 67,40.44662,-3.69241,A,http://www.crtm.es,0,est_90_71,NaN,2
859,par_4_155,155,NUEVOS MINISTERIOS,Paseo de la Castellana 65,40.44655,-3.69241,A,http://www.crtm.es,0,est_90_71,NaN,2
1011,par_4_193,193,NUEVOS MINISTERIOS,Calle de Raimundo Fernández Villaverde 67,40.44659,-3.69241,A,http://www.crtm.es,0,est_90_71,NaN,2

In [64]:
pd_stops_est_acc[pd_stops_est_acc.stop_name.str.contains('NUEVOS')]

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
657,acc_4_120_320,120,EDIFICIO ACCESO RENFE-ARCADAS NUEVOS MINISTERIOS,Calle de Raimundo Fernández Villaverde 67,40.44658,-3.69243,NaN,http://www.crtm.es,2,est_90_71,NaN,0
664,acc_4_120_399,120,EDIFICIO ACCESO RENFE-ARCADAS NUEVOS MINISTERIOS,Paseo de la Castellana 69,40.44657,-3.69218,NaN,http://www.crtm.es,2,est_90_71,NaN,0
715,est_90_71,71,NUEVOS MINISTERIOS,Calle de Raimundo Fernández Villaverde 67,40.44662,-3.69246,A,http://www.crtm.es,1,NaN,Europe/Madrid,0

In [26]:
len(pd_stops_est_acc[pd_stops_est_acc.location_type==1]['stop_name'].unique())

8

In [27]:
pd_stops_est_acc[pd_stops_est_acc.location_type==1]['stop_name'].unique()

array(['MENDEZ ALVARO ESTACION SUR', 'INTERCAMBIADOR DE PRINCIPE PIO',
       'CHAMARTIN', 'AEROPUERTO T4', 'ATOCHA-RENFE', 'NUEVOS MINISTERIOS',
       'PUERTA DEL SOL', 'ALUCHE'], dtype=object)

In [28]:
pd_stops_est_acc[pd_stops_est_acc.location_type==1]

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
11,est_90_13,13,MENDEZ ALVARO ESTACION SUR,Calle del Ombu 16,40.39538,-3.67819,A,http://www.crtm.es,1,NaN,Europe/Madrid,0
12,est_90_18,18,INTERCAMBIADOR DE PRINCIPE PIO,Paseo de la Florida 2,40.42107,-3.72037,A,http://www.crtm.es,1,NaN,Europe/Madrid,0
13,est_90_25,25,CHAMARTIN,Calle de Agustín de Foxá 40,40.47210,-3.68269,A,http://www.crtm.es,1,NaN,Europe/Madrid,0
14,est_90_33,33,AEROPUERTO T4,Ctra de Alcobendas a Barajas SN,40.49176,-3.59356,A,http://www.crtm.es,1,NaN,Europe/Madrid,0
15,est_90_54,54,ATOCHA-RENFE,Avda de la Ciudad de Barcelona 2 B,40.40659,-3.68944,A,http://www.crtm.es,1,NaN,Europe/Madrid,0
16,est_90_71,71,NUEVOS MINISTERIOS,Calle de Raimundo Fernández Villaverde 67,40.44662,-3.69246,A,http://www.crtm.es,1,NaN,Europe/Madrid,0
56,est_90_58,58,PUERTA DEL SOL,Plaza de la Puerta del Sol 6,40.41688,-3.70331,A,http://www.crtm.es,1,NaN,Europe/Madrid,0
90,est_90_1,1,ALUCHE,Calle de Valmojado 293,40.38563,-3.76085,A,http://www.crtm.es,1,NaN,Europe/Madrid,0

__Join__

In [15]:
pd_stations_web_t = pd_stations_web[pd_stations_web.transportmean_name=='METRO']

In [16]:
pd_join = pd_stations_web_t.merge(pd_stops_par, on=['stop_name'], how='left')

In [24]:
pd_join.loc[:, ['transportmean_name', 'line_number',
                                       'order_number', 'stop_id', 'stop_code',
                                       'stop_name', 'stop_desc', 'stop_lat',
                                       'stop_lon', 'zone_id', 'stop_url',
                                       'location_type', 'parent_station',
                                       'stop_timezone', 'wheelchair_boarding']]

,transportmean_name,line_number,order_number,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,METRO,1,1_0,par_4_263,263,PINAR DE CHAMARTIN,Calle de Arturo Soria 330,40.48014,-3.66680,A,http://www.crtm.es,0,est_4_263,Europe/Madrid,2
1,METRO,1,1_1,par_4_262,262,BAMBU,Calle del Bambú 14,40.47682,-3.67637,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
2,METRO,1,1_2,par_4_261,261,CHAMARTIN,Calle de Agustín de Foxá 40,40.47203,-3.68259,A,http://www.crtm.es,0,est_90_25,NaN,2
3,METRO,1,1_3,par_4_1,1,PLAZA DE CASTILLA,Paseo de la Castellana 189,40.46690,-3.68917,A,http://www.crtm.es,0,est_90_21,NaN,0
4,METRO,1,1_4,par_4_2,2,VALDEACEDERAS,Calle de Bravo Murillo 332,40.46442,-3.69506,A,http://www.crtm.es,0,NaN,Europe/Madrid,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285,METRO,12,12_25,par_4_234,234,HOSPITAL SEVERO OCHOA,Avda Orellana 3,40.32177,-3.76797,B1,http://www.crtm.es,0,NaN,Europe/Madrid,2
286,METRO,12,12_26,par_4_235,235,LEGANES CENTRAL,Calle Virgen del Camino 1,40.32899,-3.77154,B1,http://www.crtm.es,0,NaN,Europe/Madrid,2
287,METRO,12,12_27,par_4_236,236,SAN NICASIO,Avda Mar Mediterráneo SN,40.33616,-3.77587,B1,http://www.crtm.es,0,NaN,Europe/Madrid,2
288,METRO,R,R_0,par_4_36,36,OPERA,Plaza de Isabel II 9,40.41809,-3.70942,A,http://www.crtm.es,0,est_4_36,Europe/Madrid,0
289,METRO,R,R_1,par_4_127,127,PRINCIPE PIO,Paseo de la Florida 2,40.42107,-3.72032,A,http://www.crtm.es,0,est_90_18,NaN,1

In [17]:
# Unen todas
len(pd_join[pd_join['stop_url'].isnull()])

0

Al hacer el join, las paradas que aparecen en más de una línea se duplican, ya que en el fichero stops.txt aparecen dos veces, con stop_id, stop_code, stop_lat y stop_lon distintas, pero con el mismo stop_name. Hay que diferenciarlas de algún modo.

In [18]:
#Join con stop_code
pd_join[pd_join.stop_name=='NUEVOS MINISTERIOS']

,transportmean_name,stop_name,line_number,order_number,stop_id,stop_code,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
143,METRO,NUEVOS MINISTERIOS,6,6_17,par_4_120,120,Calle de Raimundo Fernández Villaverde 67,40.44662,-3.69241,A,http://www.crtm.es,0,est_90_71,NaN,2
185,METRO,NUEVOS MINISTERIOS,8,8_0,par_4_120,120,Calle de Raimundo Fernández Villaverde 67,40.44662,-3.69241,A,http://www.crtm.es,0,est_90_71,NaN,2
239,METRO,NUEVOS MINISTERIOS,10,10_17,par_4_120,120,Calle de Raimundo Fernández Villaverde 67,40.44662,-3.69241,A,http://www.crtm.es,0,est_90_71,NaN,2

In [42]:
pd_join[pd_join.stop_name=='NUEVOS MINISTERIOS']

,transportmean_name,stop_name,stop_code_x,line_number,order_number,stop_id,stop_code_y,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
213,METRO,NUEVOS MINISTERIOS,120,6,6_17,par_4_120,120,Calle de Raimundo Fernández Villaverde 67,40.44662,-3.69241,A,http://www.crtm.es,0,est_90_71,NaN,2
214,METRO,NUEVOS MINISTERIOS,120,6,6_17,par_4_155,155,Paseo de la Castellana 65,40.44655,-3.69241,A,http://www.crtm.es,0,est_90_71,NaN,2
215,METRO,NUEVOS MINISTERIOS,120,6,6_17,par_4_193,193,Calle de Raimundo Fernández Villaverde 67,40.44659,-3.69241,A,http://www.crtm.es,0,est_90_71,NaN,2
272,METRO,NUEVOS MINISTERIOS,120,8,8_0,par_4_120,120,Calle de Raimundo Fernández Villaverde 67,40.44662,-3.69241,A,http://www.crtm.es,0,est_90_71,NaN,2
273,METRO,NUEVOS MINISTERIOS,120,8,8_0,par_4_155,155,Paseo de la Castellana 65,40.44655,-3.69241,A,http://www.crtm.es,0,est_90_71,NaN,2
274,METRO,NUEVOS MINISTERIOS,120,8,8_0,par_4_193,193,Calle de Raimundo Fernández Villaverde 67,40.44659,-3.69241,A,http://www.crtm.es,0,est_90_71,NaN,2
342,METRO,NUEVOS MINISTERIOS,120,10,10_17,par_4_120,120,Calle de Raimundo Fernández Villaverde 67,40.44662,-3.69241,A,http://www.crtm.es,0,est_90_71,NaN,2
343,METRO,NUEVOS MINISTERIOS,120,10,10_17,par_4_155,155,Paseo de la Castellana 65,40.44655,-3.69241,A,http://www.crtm.es,0,est_90_71,NaN,2
344,METRO,NUEVOS MINISTERIOS,120,10,10_17,par_4_193,193,Calle de Raimundo Fernández Villaverde 67,40.44659,-3.69241,A,http://www.crtm.es,0,est_90_71,NaN,2

In [45]:
pd_join[pd_join.stop_name=='PRINCIPE PIO']

,transportmean_name,stop_name,stop_code_x,line_number,order_number,stop_id,stop_code_y,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
228,METRO,PRINCIPE PIO,127,6,6_24,par_4_127,127,Paseo de la Florida 2,40.42107,-3.72032,A,http://www.crtm.es,0,est_90_18,NaN,1
229,METRO,PRINCIPE PIO,127,6,6_24,par_4_198,198,Paseo de la Florida 2,40.42103,-3.72033,A,http://www.crtm.es,0,est_90_18,NaN,1
230,METRO,PRINCIPE PIO,127,6,6_24,par_4_238,238,Paseo de la Florida 2,40.42099,-3.72033,A,http://www.crtm.es,0,est_90_18,NaN,1
354,METRO,PRINCIPE PIO,127,10,10_22,par_4_127,127,Paseo de la Florida 2,40.42107,-3.72032,A,http://www.crtm.es,0,est_90_18,NaN,1
355,METRO,PRINCIPE PIO,127,10,10_22,par_4_198,198,Paseo de la Florida 2,40.42103,-3.72033,A,http://www.crtm.es,0,est_90_18,NaN,1
356,METRO,PRINCIPE PIO,127,10,10_22,par_4_238,238,Paseo de la Florida 2,40.42099,-3.72033,A,http://www.crtm.es,0,est_90_18,NaN,1
407,METRO,PRINCIPE PIO,127,R,R_1,par_4_127,127,Paseo de la Florida 2,40.42107,-3.72032,A,http://www.crtm.es,0,est_90_18,NaN,1
408,METRO,PRINCIPE PIO,127,R,R_1,par_4_198,198,Paseo de la Florida 2,40.42103,-3.72033,A,http://www.crtm.es,0,est_90_18,NaN,1
409,METRO,PRINCIPE PIO,127,R,R_1,par_4_238,238,Paseo de la Florida 2,40.42099,-3.72033,A,http://www.crtm.es,0,est_90_18,NaN,1

In [44]:
pd_join[pd_join.stop_name=='PINAR DE CHAMARTIN']

,transportmean_name,stop_name,stop_code_x,line_number,order_number,stop_id,stop_code_y,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,METRO,PINAR DE CHAMARTIN,263,1,1_0,par_4_263,263,Calle de Arturo Soria 330,40.48014,-3.66680,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
1,METRO,PINAR DE CHAMARTIN,263,1,1_0,par_4_266,266,Calle de Arturo Soria 330,40.48014,-3.66676,A,http://www.crtm.es,0,est_4_263,NaN,2
138,METRO,PINAR DE CHAMARTIN,263,4,4_22,par_4_263,263,Calle de Arturo Soria 330,40.48014,-3.66680,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
139,METRO,PINAR DE CHAMARTIN,263,4,4_22,par_4_266,266,Calle de Arturo Soria 330,40.48014,-3.66676,A,http://www.crtm.es,0,est_4_263,NaN,2

In [56]:
pd_stops_est_acc[pd_stops_est_acc.stop_id=="est_4_263"]

,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
169,est_4_263,263,PINAR DE CHAMARTIN,Calle de Arturo Soria 330,40.48014,-3.6668,A,http://www.crtm.es,1,NaN,Europe/Madrid,2

In [169]:
pd_prueba = pd.read_csv("stops_web.csv")

In [170]:
pd_prueba

,transportmean_name,line_number,order_number,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
0,METRO,1,1_0,par_4_263,263,PINAR DE CHAMARTIN,Calle de Arturo Soria 330,40.480140,-3.666800,A,http://www.crtm.es,0,est_4_263,Europe/Madrid,2
1,METRO,1,1_1,par_4_262,262,BAMBU,Calle del Bambú 14,40.476820,-3.676370,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
2,METRO,1,1_2,par_4_261,261,CHAMARTIN,Calle de Agustín de Foxá 40,40.472030,-3.682590,A,http://www.crtm.es,0,est_90_25,NaN,2
3,METRO,1,1_3,par_4_1,1,PLAZA DE CASTILLA,Paseo de la Castellana 189,40.466900,-3.689170,A,http://www.crtm.es,0,est_90_21,NaN,0
4,METRO,1,1_4,par_4_2,2,VALDEACEDERAS,Calle de Bravo Murillo 332,40.464420,-3.695060,A,http://www.crtm.es,0,NaN,Europe/Madrid,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,CR,C10,C10_16,par_5_51,51,NUEVOS MINISTERIOS,NaN,40.446628,-3.692250,A,http://www.crtm.es,0,est_90_71,NaN,2
546,CR,C10,C10_17,par_5_18,18,CHAMARTIN,NaN,40.472109,-3.682379,A,http://www.crtm.es,0,est_90_25,NaN,2
547,CR,C10,C10_18,par_5_133,133,FUENTE DE LA MORA,NaN,40.484755,-3.662732,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
548,CR,C10,C10_19,par_5_144,144,VALDEBEBAS,NaN,40.482309,-3.616341,A,http://www.crtm.es,0,NaN,Europe/Madrid,2
549,CR,C10,C10_20,par_5_142,142,AEROPUERTO T4,NaN,40.491781,-3.593240,A,http://www.crtm.es,0,est_90_33,NaN,2

In [171]:
for t in ['METRO', 'ML', 'CR']:
        stations = len(pd_prueba[pd_prueba['transportmean_name']==t]['stop_name'])
        print("Estaciones {}: {}".format(t, stations))

Estaciones METRO: 290
Estaciones ML: 57
Estaciones CR: 203

In [172]:
for t in ['METRO', 'ML', 'CR']:
        stations = len(pd_prueba[pd_prueba['transportmean_name']==t]['stop_name'].unique())
        print("Estaciones {}: {}".format(t, stations))

Estaciones METRO: 242
Estaciones ML: 56
Estaciones CR: 95

In [137]:
pd_prueba[pd_prueba.stop_name.str.contains('SAINZ')]

,transportmean_name,line_number,order_number,stop_id,stop_code,stop_name,stop_desc,stop_lat,stop_lon,zone_id,stop_url,location_type,parent_station,stop_timezone,wheelchair_boarding
137,METRO,6,6_11,par_4_114,114,SAINZ DE BARANDA,Calle del Doctor Esquerdo 103,40.41507,-3.66951,A,http://www.crtm.es,0,est_4_114,Europe/Madrid,0
208,METRO,9,9_15,par_4_114,114,SAINZ DE BARANDA,Calle del Doctor Esquerdo 103,40.41507,-3.66951,A,http://www.crtm.es,0,est_4_114,Europe/Madrid,0

In [71]:
len(pd_stations_web[pd_stations_web['transportmean_name']=='METRO']['stop_name'].unique())

243

In [55]:
set_stations = set(pd_stations_web[pd_stations_web['transportmean_name']=='METRO']['stop_name'].unique())

In [56]:
set_stations

{'ABRANTES',
 'ACACIAS',
 'AEROPUERTO T1-T2-T3',
 'AEROPUERTO T4',
 'ALAMEDA DE OSUNA',
 'ALCORCON CENTRAL',
 'ALFONSO XIII',
 'ALMENDRALES',
 'ALONSO CANO',
 'ALONSO DE MENDOZA',
 'ALONSO MARTINEZ',
 'ALSACIA',
 'ALTO DE EXTREMADURA',
 'ALTO DEL ARENAL',
 'ALUCHE',
 'ALVARADO',
 'ANTON MARTIN',
 'ANTONIO MACHADO',
 'ARGANDA DEL REY',
 'ARGANZUELA-PLANETARIO',
 'ARGUELLES',
 'ARROYO CULEBRO',
 'ARROYOFRESNO',
 'ARTILLEROS',
 'ARTURO SORIA',
 'ASCAO',
 'ATOCHA-RENFE',
 'AVENIDA DE AMERICA',
 'AVENIDA DE GUADALAJARA',
 'AVENIDA DE LA ILUSTRACION',
 'AVENIDA DE LA PAZ',
 'AVIACION ESPANOLA',
 'BAMBU',
 'BANCO DE ESPANA',
 'BARAJAS',
 'BARRIO DE LA CONCEPCION',
 'BARRIO DEL PILAR',
 'BARRIO DEL PUERTO',
 'BATAN',
 'BAUNATAL',
 'BEGONA',
 'BILBAO',
 'BUENOS AIRES',
 'CALLAO',
 'CAMPAMENTO',
 'CANAL',
 'CANILLAS',
 'CANILLEJAS',
 'CARABANCHEL',
 'CARABANCHEL ALTO',
 'CARPETANA',
 'CARTAGENA',
 'CASA DE CAMPO',
 'CASA DEL RELOJ',
 'CHAMARTIN',
 'CHUECA',
 'CIUDAD DE LOS ANGELES',
 'CIUDAD LINEAL',
 'CIUDAD UNIVERSITARIA',
 'COLOMBIA',
 'COLON',
 'COLONIA JARDIN',
 'CONCHA ESPINA',
 'CONDE DE CASAL',
 'CONGOSTO',
 'CONSERVATORIO',
 'COSLADA CENTRAL',
 'CRUZ DEL RAYO',
 'CUATRO CAMINOS',
 'CUATRO VIENTOS',
 'CUZCO',
 'DELICIAS',
 'DIEGO DE LEON',
 'DUQUE DE PASTRANA',
 'EL BERCIAL',
 'EL CAPRICHO',
 'EL CARMEN',
 'EL CARRASCAL',
 'EL CASAR',
 'EMBAJADORES',
 'EMPALME',
 'ESPERANZA',
 'ESTACION DEL ARTE',
 'ESTADIO METROPOLITANO',
 'ESTRECHO',
 'ESTRELLA',
 'EUGENIA DE MONTIJO',
 'FERIA DE MADRID',
 'FRANCOS RODRIGUEZ',
 'FUENCARRAL',
 'FUENLABRADA CENTRAL',
 'GARCIA NOBLEJAS',
 'GETAFE CENTRAL',
 'GOYA',
 'GRAN VIA',
 'GREGORIO MARANON',
 'GUZMAN EL BUENO',
 'HENARES',
 'HERRERA ORIA',
 'HORTALEZA',
 'HOSPITAL 12 DE OCTUBRE',
 'HOSPITAL DE FUENLABRADA',
 'HOSPITAL DE MOSTOLES',
 'HOSPITAL DEL HENARES',
 'HOSPITAL INFANTA SOFIA',
 'HOSPITAL SEVERO OCHOA',
 'IBIZA',
 'IGLESIA',
 'ISLAS FILIPINAS',
 'JARAMA',
 'JOAQUIN VILUMBRALES',
 'JUAN DE LA CIERVA',
 'JULIAN BESTEIRO',
 'LA ALMUDENA',
 'LA ELIPA',
 'LA FORTUNA',
 'LA GAVIA',
 'LA GRANJA',
 'LA LATINA',
 'LA MORALEJA',
 'LA PESETA',
 'LA POVEDA',
 'LA RAMBLA',
 'LACOMA',
 'LAGO',
 'LAGUNA',
 'LAS MUSAS',
 'LAS ROSAS',
 'LAS SUERTES',
 'LAS TABLAS',
 'LAVAPIES',
 'LEGANES CENTRAL',
 'LEGAZPI',
 'LISTA',
 'LORANCA',
 'LOS ESPARTALES',
 'LUCERO',
 'MANOTERAS',
 'MANUEL BECERRA',
 'MANUEL DE FALLA',
 'MANUELA MALASANA',
 'MAR DE CRISTAL',
 'MARQUES DE LA VALDAVIA',
 'MARQUES DE VADILLO',
 'MENDEZ ALVARO',
 'MENENDEZ PELAYO',
 'MIGUEL HERNANDEZ',
 'MIRASIERRA',
 'MONCLOA',
 'MONTECARMELO',
 'MOSTOLES CENTRAL',
 'NOVICIADO',
 'NUEVA NUMANCIA',
 'NUEVOS MINISTERIOS',
 'NUNEZ DE BALBOA',
 'ODONNELL',
 'OPANEL',
 'OPERA',
 'OPORTO',
 'PACIFICO',
 'PACO DE LUCIA',
 'PALOS DE LA FRONTERA',
 'PAN BENDITO',
 'PARQUE DE LAS AVENIDAS',
 'PARQUE DE LOS ESTADOS',
 'PARQUE DE SANTA MARIA',
 'PARQUE EUROPA',
 'PARQUE LISBOA',
 'PARQUE OESTE',
 'PAVONES',
 'PENAGRANDE',
 'PINAR DE CHAMARTIN',
 'PINAR DEL REY',
 'PIO XII',
 'PIRAMIDES',
 'PITIS',
 'PLAZA DE CASTILLA',
 'PLAZA DE ESPANA',
 'PLAZA ELIPTICA',
 'PORTAZGO',
 'PRADILLO',
 'PRINCIPE DE VERGARA',
 'PRINCIPE PIO',
 'PROSPERIDAD',
 'PUEBLO NUEVO',
 'PUENTE DE VALLECAS',
 'PUERTA DE ARGANDA',
 'PUERTA DE TOLEDO',
 'PUERTA DEL ANGEL',
 'PUERTA DEL SUR',
 'QUEVEDO',
 'QUINTANA',
 'REPUBLICA ARGENTINA',
 'RETIRO',
 'REYES CATOLICOS',
 'RIOS ROSAS',
 'RIVAS FUTURA',
 'RIVAS URBANIZACIONES',
 'RIVAS VACIAMADRID',
 'RONDA DE LA COMUNICACION',
 'RUBEN DARIO',
 'SAINZ DE BARANDA',
 'SAN BERNARDO',
 'SAN BLAS',
 'SAN CIPRIANO',
 'SAN CRISTOBAL',
 'SAN FERMIN-ORCASUR',
 'SAN FERNANDO',
 'SAN FRANCISCO',
 'SAN LORENZO',
 'SAN NICASIO',
 'SANTIAGO BERNABEU',
 'SANTO DOMINGO',
 'SERRANO',
 'SEVILLA',
 'SIERRA DE GUADALUPE',
 'SIMANCAS',
 'SOL',
 'SUANZES',
 'TETUAN',
 'TIRSO DE MOLINA',
 'TORRE ARIAS',
 'TRES OLIVOS',
 'TRIBUNAL',
 'UNIVERSIDAD REY JUAN CARLOS',
 'URGEL',
 'USERA',
 'VALDEACEDERAS',
 'VALDEBERNARDO',
 'VALDECARROS',
 'VALDEZARZA',
 'VELAZQUEZ',
 'VENTAS',
 'VENTILLA',
 'VENTURA RODRIGUEZ',
 'VICALVARO',
 'VICENTE ALEIXANDRE',
 'VILLA DE VALLECAS',
 'VILLAVERDE ALTO',
 'VILLAVERDE BAJO-CRUCE',
 'VINATEROS',
 'VISTA ALEGRE'}